$lightDark: #2B2D30; // background
$darkerDark: #232529; // nav and elements
$titleColor: #31e89f; // h1
$subTitleColor: #31c6e8; // h3
$textColor: #ccc; // p, span etc
$borderColor: #1B1D20; // borders